---
---

<navigation class="flex justify-between items-center mx-28 h-28">
    <div class="logo">
        Logo Placeholder
    </div>
    <ul class="flex items-center text-slate-700">
        <li><a href="#" class="mr-7  font-bold">About us</a></li>
        <li><a href="#" class="mr-7">Product</a></li>
        <li><a href="#" class="mr-7">Resource</a></li>
        <li><a href="#" class="mr-7">Contact</a></li>
    </ul>
    <div>
        <button class="bg-primary-500 bg-indigo-700 text-white px-4 py-2 rounded-md">Get Started</button>
    </div>
</navigation>